.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 30px;
}

input[type="checkbox"] {
  transform:scale(3, 3);
  cursor: pointer;
  margin: 16px 10px;
}

.list-group-item:hover {
  background-color: #F5F5F5;
}

.list-group-item.done {
  opacity: 0.5;
}

.inline {
  display: inline;
}
