.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 30px;
}

input[type="checkbox"] {
  transform:scale(3, 3);
  cursor: pointer;
  margin: 16px 10px;
}

.list-group-item:hover {
  background-color: #F5F5F5;
}

.list-group-item.done {
  opacity: 0.5;
}

.inline {
  display: inline;
}

.select-lang {
  width: 50px;
  display: inline;
}

.logout {
  border: 0;
  padding: 0;
  margin-left: 15px;
  border-radius: 4px;
  background-color: #FFF;
  position: relative;
}

.logout .glyphicon {
  position: absolute;
  font-size: 28px;
  margin: 3px;
  z-index: 1;
}

.logout img {
  position: relative;
  width: 36px;
  z-index: 2;
}

.logout:hover img {
  opacity: 0;
}
