<div class="row">
  <div class="col-xs-8">
    <h1 class="inline">Firetasks Translate</h1>
  </div>
  <div class="col-xs-4 text-right">
    <select class="form-control select-lang"
      ng-model="lang"
      ng-options="option for option in options"
      ng-change="saveLang()">
    </select>

    <button type="button"
      class="logout"
      ng-if="currentUser"
      ng-click="logout()">

      <i class="glyphicon glyphicon-log-out"></i>

      <img class="img-thumbnail"
        title="Encerrar sessão de {{currentUser.displayName}}"
        ng-src="{{currentUser.photoURL}}">
    </button>
  </div>
</div>

<hr>

<div class="well"
  ng-if="!currentUser">
  <legend>{{'SESSION_TITLE' | translate}}</legend>
  <p>{{'SESSION_DISCLAIMER' | translate}}.</p>
  <div class="row">
    <div class="col-xs-3">
      <button class="btn btn-default btn-block"
        ng-click="login('google')">
        Google
      </button>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-default btn-block"
        ng-click="login('facebook')">
        Facebook
      </button>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-default btn-block"
        ng-click="login('twitter')">
        Twitter
      </button>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-default btn-block"
        ng-click="login('github')">
        GitHub
      </button>
    </div>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item animate-repeat animate-show-hide"
    ng-repeat="todo in todos"
    ng-show="!todo.done || !hide"
    ng-class="{'done':todo.done}">

    <img ng-src="{{todo.user.photoURL}}"
      class="img-circle pull-left"
      style="margin-right: 10px;"
      width="40">

    <input type="checkbox"
      class="pull-right"
      ng-model="todo.done"
      ng-disabled="!currentUser"
      ng-change="todos.$save(todo)">

    <h4 class="list-group-item-heading">
      {{todo.translate[lang] || (todo.lang == lang && todo.title || '...')}}
    </h4>

    <p class="list-group-item-text">
      {{todo.createdAt | date:'medium'}}
    </p>

  </li>
</ul>

<div class="progress">
  <div class="progress-bar" style="width: {{progress()}}%"></div>
</div>

<form ng-submit="addTodo(task, lang, currentUser); task = null">
  <div class="input-group">
    <input type="text"
      class="form-control"
      ng-model="task"
      ng-disabled="!currentUser"
      placeholder="{{'NEW_TASK_INPUT' | translate}}">
    <span class="input-group-btn">
      <button type="submit"
        class="btn btn-default"
        ng-disabled="!currentUser || !task">
        <i class="glyphicon glyphicon-plus-sign"></i>
      </button>
    </span>
  </div>
</form>

<hr>

<div class="row">
  <div class="col-xs-6">
    <button type="button"
      class="btn btn-warning btn-block"
      ng-click="hide = !hide; saveHide()">
      {{hide && 'SHOW_TASKS_BUTTON' || 'HIDE_TASKS_BUTTON' | translate}}
    </button>
  </div>
  <div class="col-xs-6">
    <button type="button"
      class="btn btn-danger btn-block"
      ng-click="clean()"
      ng-disabled="!currentUser">
      {{'REMOVE_TASKS_BUTTON' | translate}}
    </button>
  </div>
</div>
